// it'd better create variables for colors, radius and ect and use them 

.dropdown {
  background-color: #fff;
  max-width: 300px;
  margin: 10px;
  position: relative;
}

.dropdown_current-option {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  // border-radius: 5px 5px 0 0; try to reduce code lines
  border: 0.5px solid #2a68d3; // use integers, not 0.5 for px 
  padding: 5px 10px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 1px 4px -1px #00000049;
}

.dropdown_list-options {
  position: absolute;
  z-index: -1;
  left: 0.5px;
  right: 0;
  background-color: #fff;
  border-left: 0.5px solid #2a68d3; // combine border
  border-right: 0.5px solid #2a68d3;
  border-bottom: 0.5px solid #2a68d3;
  height: 95px; // what happends when you have more options in non webkit browsers ? 
  overflow: auto;
  transition: 0.3s;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2a68d3;
    border-radius: 30px;
  }
}

.dropdown_list-options--hidden { // .&--hidden
  height: 0;
  border-bottom: none;
}

.dropdown_option {
  font-size: 12px;
  padding: 8px 10px;
  border-bottom: 0.5px solid #2a68d3;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #2a68d3c9;
    color: #fff;
  }

  &:last-child {
    border-bottom: none;
  }
}
